/* SECTION ABOUT US */

.about-us-description
{
    font-family: 'Muller';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;

    max-width: 880px;
    min-height: 176px;
    margin-left: 44px;

    color: #666;
}