@media (max-width:1000px) {
    .section-contacts-box{
        flex-direction: column;
    }
    .section-contacts-list {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .section-booking-input-description {
        flex-direction: column;
    }
    .button {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .section-services-item {
        padding-right: 24px;
        padding-left: 24px;
    }
    .section-booking-list-box {
        margin-right: 30px;
    }
}

@media (max-width:860px) {
    section {
        padding-bottom: 50px;
    }
    .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-nav-list {
        width: 100%;
        margin-bottom: 20px;
    }
    .search {
        margin-left: 0;
    }
    .search input {
        padding-left: 0;
    }
    .booking-container {
        flex-direction: column;
    }
    .section-booking-item {
        padding-bottom: 0;
    }
    .section-booking-list-box {
        margin-right: 0;
        padding-bottom: 40px;
    }
    .section-booking-input,.section-special-offer-img {
        max-width: 100%;
    }
    .section-special-offer-img {
        background-size: cover;
        height: fit-content;
        padding: 45px;
    }
    .footer-contacts {
        margin-right: 15px;
    }
}

@media (max-width:768px) {
    .section-services-item {
        margin: 0;
        max-width: 100%;
        background-size: 100% 160px;
    }
    .header-phone-number {
        font-size: 18px;
    }
    .header-nav-link {
        font-size: 14px;
    }
    .footer-info-box {
        margin-right: 20px;
    }
}